.card {
  display:block;
  max-width: 413px;

}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display:block;
  border-radius: 10px;
}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

}

.card__title {
  width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button_:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/likeActivated-icon.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/likeActivatedHover-icon.svg);
}

.card__delete-button {
  background-image: url(../images/deleteDefault-icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: relative;
  top: 46px;
  left: 371px;
}

.card__delete-button:hover {
  background-image: url(../images/deleteHover-icon.svg);
}

@media screen and (max-width: 670px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: 100% 100%;
  }

  .card__delete-button {
    left: 246px;
  }
}